# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/launch.json

# All the side paper files
paper.aux
paper.bcf
paper.fdb_latexmk
paper.fls
paper.log
paper.pdf
paper.run.xml
paper.synctex.gz
